@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #08002e;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

#container {
    display: flex;
    background-color: #b1b1b1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.322);
    flex-direction: column;
    padding: 25px;
}

#weather-status {
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#weather-status h2 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 280;
    margin-bottom: 10px;
}

#days-status-container {
    margin-top: 15px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#days-status-container h1 {
    font-size: 22px;
    font-weight: 280;
}

#raining-emoji h1{
    font-size: 65px;
    margin-top: 1px;
    margin-bottom: 3px;
}

#temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#temperature p {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 3px;

}

#container h3 {
    font-size: 15px;
    margin-top: 0;
    font-weight: 50;

}

#title h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 280;
    margin-top: 0;
}

#days-container {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.day p {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    margin-top: 14px;
    font-size: 26px;
    border-top: 0;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.day h3 {
    padding: 1px;
    font-size: 15px;
    font-weight: 50;
}
.temp {
    color: rgb(0, 0, 146);
}

#vote-container {
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.322);
    margin-top: 15px;
}

#vote-container h1 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 280;
    margin-bottom: 10px;
}

#yes-button h1 {
    font-size: 17px;
    font-weight: 280;
}

#no-button h1 {
    font-size: 17px;
    font-weight: 280;
}

#vote-container button {
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

#vote-container button:hover {
    background-color: #333;
    transform: scale(1.05);
}

#yes-button {
    background-color: #28a745;
    border: 2px solid #218838;
}

#yes-button:hover {
    background-color: #218838;
}

#no-button {
    background-color: #dc3545;
    border: 2px solid #c82333;
}

#no-button:hover {
    background-color: #c82333;
}