@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #08002e;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

#container {
    display: flex;
    background-color: #b1b1b1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.322);
    flex-direction: column;
    padding: 25px;
}

#weather-status {
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#days-status-container {
    margin-top: 15px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#days-status-container h1 {
    font-size: 37px;
    font-weight: 280;
}

#raining-emoji h1{
    font-size: 150px;
    margin-top: 1px;
    margin-bottom: 20px;
}

#temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#temperature p {
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 9px;

}

#container h3 {
    font-size: 15px;
    margin-top: 0;
    font-weight: 50;

}

#title h1 {
    font-size: 57px;
    font-weight: 250;
    margin-top: 0;
}

#days-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.day p {
    margin-top: 0;
    font-size: 45px;
    border-top: 0;
    padding: 15px;
    border: 2px solid #0a003f62;
    border-radius: 10px;
    margin-bottom: 0;
}

.day h3 {
    font-size: 15px;
    font-weight: 50;
}
.min {
    color: rgb(0, 0, 146);
    margin-right: 10px;
}

.max {
    color: rgb(105, 19, 19);
    margin-left: 10px;
}