<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>Is it raining in Australia today?</title>
    <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
</head>
<body>
    <div id="container">

        <div id="title">
            <h1>Is it raining in Australia today?</h1>
        </div>

        <div id="weather-status">
            <h2>
                AI predicts:
            </h2>
            <div id="raining-emoji">
                {% if raintoday == 1.0 %}
                    <h1>🌧️</h1>
                    <h3>
                        Yes.
                    </h3>
                {% else %}
                    <h1>☀️</h1>
                     <h3>
                        No.
                    </h3>
                {% endif %}
        </div>

        <div id="temperature">
            <p class="temp">{{ temp }}°C </p>
        </div>
        <h3>City: {{ city }}</h3>
    </div>

    {% if not isvoted %}
    <div id="vote-container">
        <h1>
            Is it true?
        </h1>

        <button id="yes-button" onclick="window.location.href='http://{{ hostname }}:{{ port }}//vote-yes'">
            <h1>👍 Yes</h1>
        </button>

        <button id="no-button" onclick="window.location.href='http://{{ hostname }}:{{ port }}/vote-no'">
            <h1>No 👎</h1>
        </button>
    </div>
    {% endif %}

    <div id="days-status-container">

<!--        <div id="last-title">-->
<!--            <h1>Last 5 days:</h1>-->
<!--        </div>-->

        <div id="days-container">
            {% for day in days %}
            <div class="day">
                {% if day.rain_today == 1.0 %}
                    <p>🌧️</p>
                {% else %}
                    <p>☀️</p>
                {% endif %}
                <h3>{{ day.date }}</h3>
            </div>
            {% endfor %}

        </div>
    </div>
</body>
</html>
