<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vote.css') }}">
</head>
<body>
    <div id="container">
        <div id="thank-you">
            <h1>Thank you for your vote!</h1>
            <div id="vote-container">
                <form action="http://localhost:5050">
                    <button type="submit" class="button">Go to Main Page</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>