<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote failed!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vote.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div id="container">
        <div id="thank-you">
            {% if isvoted %}
                    <h1>You already voted!</h1>
            {% else %}
                    <h1>Thank you for your vote!</h1>
            {% endif %}
            <div id="vote-container">
                <form action="http://localhost:5000">
                    <button type="submit" class="button">Go to Main Page</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>